body, html{
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

body{
    font-family: 'Dosis', serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.bg, .bg1{
    height: 100%;
    width: 100%;
    position: absolute;
}
.bg{
    z-index: -1;
    background: linear-gradient(160deg,#00beff,#3dc7e4,#4ed0c9,#54d9ae,#53e391,#4bec73,#39f64f,#00ff09);
    -webkit-clip-path: polygon(100% 0, 100% 51%, 0 100%, 0 50%);
    clip-path: polygon(100% 0, 100% 51%, 0 100%, 0 50%);
    -webkit-clip-path: polygon(100% 0, 100% 40%, 0 80%, 0 40%);
    clip-path: polygon(100% 0, 100% 40%, 0 80%, 0 40%);
}
.bg1{
    z-index: -2;
    background: linear-gradient(160deg,#3ef985,#40fa96,#40fba7,#3ffbb8,#3afcc8,#33fdd8,#25fee9,#00fff9);
}
.container-top{
    display: grid;
    grid-template-columns: 50% auto;
    height: auto;
    align-self: center;
    margin: 0 50px;
    text-align: center;
}
h1{
    font-size: 40px;
}
.bitmoji{
    margin: 5px;
    max-width: 100px;
    height: auto;
}
.link{
    font-weight: bold;
    color:rgb(234,74,39);
}
.link:visited{
    color:rgb(234,74,39);
}
#about{
    font-size: 20px;
    padding: 55px;
}

.projects{
    display:grid;
    grid-template-rows: 33% auto;
    border-radius: 20px;
    margin: 35px;
    padding: 15px;
    border-bottom: 4px solid rgba(0,0,0,.2);
}
.title{
    font-weight: bold;
}
.content{
    margin-top: 20px;
}

.container-bottom{
    height: auto;
    margin: 0 50px;
}
img{
    max-width: 35px;
    height: auto;
}
ul, li{
    padding: 0;
    list-style: none;
}

.contact{
    position: relative;
    max-width: 100%;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}
a{
    text-decoration: none;
    color:inherit;
    
}
a:visited {
    text-decoration: none;
    color:inherit; 
}
